.todo-list{
    margin: 0 auto;
    width: 500px;
    min-height: 500px;
}

.todo-input{
    padding: 16px;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 19px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    outline: none;
    color: inherit;
    border: 1px solid #999;
    box-sizing: border-box;
}